extends bootstrap

append footer  
  script(src="/javascripts/update-sub.js")

  script(src="/javascripts/mytable.js")


block content
  div(class="col-md-8 container", id="maintable")
    table(id="example" class="display")
      thead
        tr
          th ID
          th Name
          th Type
          th Status
          th Action
       tbody(id="maintable-body")
        -for (var node in nodes)
         tr
           td #{nodes[node].id}
           td
             a(href="http://#{nodes[node].address}")= nodes[node].name
           td #{nodes[node].type}
           td 
             if nodes[node].status=='1'
               | Active
             else
               | Idle
           td
             div(class="btn-group")
                button(type="button", class="btn btn-primary btn-sm, dropdown-toggle", data-toggle="dropdown", aria-expanded="false") Action 
                 span(class="caret")
                ul(class="dropdown-menu", role="menu")
                  li
                    a(href="#", onclick="updateStatus('/api/nodes/#{nodes[node].id}/status','1')") Trigger
                  li
                    a(href="#", data-toggle="modal", data-target="#myModal" onclick="updateNode('/api/nodes/#{nodes[node].id}')") Update
                  li
                    a(href="#", onclick="getConfirm('#{nodes[node].id}','delete')") Delete